.projects {
  background-color: #1b1c1d;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 14rem 6rem 8rem 8rem;
  height: max(100%, 100vh);
}

@media (max-width: 768px) {
  .projects {
    padding: 3rem;
    padding-right: 4rem;
  }
}

@media (max-width: 576px) {
  .projects {
    padding-left: 1.6rem;
    padding-right: 2.8rem;
  }
}
