.projects {
  background-color: #1b1c1d;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 14rem 6rem 8rem 7rem;
  height: max(100%, 100vh);
}

@media (max-width: 768px) {
  .projects {
    padding: 3rem;
    padding-right: 4rem;
  }
}

@media (max-width: 576px) {
  .projects {
    padding: 2rem !important;
  }
}
