.side-bar {
  background-color: #1b1c1d;
  border-left: 1px solid gray;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 2rem 0;
  color: white;
  height: 100vh;
  position: fixed;
  right: 0;
  transition: width 0.3s;
}

.side-bar .item {
  padding: 1rem;
  text-align: center;
  cursor: pointer;
}

.side-bar .item.active {
  color: cyan;
}

.side-bar .item a {
  color: white;
}

.side-bar .nav-items {
  display: none;
}

.side-bar .burger {
  display: flex;
  align-items: center;
  justify-content: center;
}

@media (max-width: 768px) {
  .side-bar .nav-items {
    display: block;
  }

  .side-bar .item {
    padding: 0.5rem;
  }
}

@media (min-width: 768px) {
  .side-bar {
    width: auto !important;
  }
}
