main {
  background-color: #1b1c1d;
  width: 100vw;
  display: flex !important;
  justify-content: space-between;
}

section {
  flex-grow: 1;
}

@media (min-width: 768px) {
  section {
    margin-right: 4rem !important;
  }
}
